---
Language: Cpp

AccessModifierOffset: -8
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Left
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackParameters: false
BraceWrapping:
  AfterFunction: true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: false
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false
ColumnLimit: 0
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
DerivePointerAlignment: true
IndentWidth: 8
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: Inner
PointerAlignment: Left
SpaceAfterCStyleCast: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
SpacesInContainerLiterals: false
UseTab: ForContinuationAndIndentation
...
