[Unit]
Description=Gate daemon

[Service]
Type=dbus
BusName=computer.gate.Daemon
ExecStart=/usr/local/bin/gate-daemon -o runtime.container.cgroup.executorscope=gate-runtime
